@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

:root {
    --primary-color: #07689f;
    --secondary-color: #ffc93c;
    --third-color: #40a8c4;
    --fourth-color: #a2d5f2;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: poppins;
}

.back-to-top {
    color: white;
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.back-to-top:hover {
    color: white;
}

.back-to-top:focus {
    color: white;
}

/* LOGIN & REGISTER*/
#auth .card {
    border-radius: 12px;
    border: none;
    box-shadow: 4px 8px 16px rgb(7, 104, 159, 0.1);
}

#auth .card img {
    width: 80px;
    height: 80px;
}

#auth .card h2,
#auth .card p {
    text-align: center;
}

#auth .card h2 {
    font-weight: 700;
    text-transform: capitalize;
}

#auth .card p {
    font-weight: 400;
    font-size: 12px;
    text-transform: lowercase;
    color: #b0b0b0;
}

#auth .card .form-label {
    font-weight: 500;
    font-size: 16px;
}

#auth .card form input {
    font-size: 14px;
}

#auth .card form input:focus {
    border-color: var(--primary-color);
}

.btn-lr {
    color: white;
    font-weight: 500;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    transition: all ease-in-out 0.5s;
}

.btn-lr:hover {
    background-color: transparent;
    color: var(--primary-color);
    box-shadow: 0px 3px 16px rgb(7, 104, 159, 0.1);
}

/* NAVBAR */
.navbar {
    border: 1px solid #eeeeee;
    background-color: white;
    transition: all ease 0.5s;
}

.navbar.active {
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 4px 25px rgb(7, 104, 159, 0.1);
}

#header .navbar .navbar-nav .nav-link {
    font-weight: 600;
}

#header .navbar .navbar-nav .nav-link:hover {
    color: var(--primary-color);
}

#header .navbar .navbar-nav .nav-link.active {
    color: var(--primary-color);
}

#header .navbar .dropdown-menu {
    border: none;
    border-radius: 12px;
    box-shadow: 4px 8px 25px rgb(7, 104, 159, 0.2);

}

#header .navbar .dropdown-menu .dropdown-item {
    font-size: 14px;
    transition: all ease 0.3s;
    background-color: white;
}

#header .navbar .dropdown-menu .dropdown-item:hover {
    background-color: rgb(13, 110, 253, 0.1);
    color: var(--primary-color);
}

.btn-join-praktikum {
    font-weight: 600;
    border-color: var(--primary-color);
    color: var(--primary-color);
    transition: all ease-out 0.3s;
}

.btn-join-praktikum:hover {
    color: var(--primary-color);
    box-shadow: 0px 6px 25px rgb(7, 104, 159, 0.2);
    animation: tada;
    animation-duration: 2s;
}

/* Jumbotron */
#jumbotron .container {
    margin-top: 100px;
}

#jumbotron .card {
    border: none;
}

#jumbotron h2 {
    font-weight: 700;
}

#jumbotron p {
    font-size: 14px;
    color: #b0b0b0;
}

#jumbotron .alert {
    font-weight: 600;
    border-radius: 50px;
    font-size: 10px;
    background-color: var(--secondary-color);
}

.btn-learn {
    font-weight: 500;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    transition: all ease-in-out 0.3s;
}

.btn-learn:hover {
    /* opacity: 90%; */
    color: white;
    box-shadow: 4px 8px 16px rgb(7, 104, 159, 0.2);
}


/* Course seciton */
#course .container {
    margin-top: 100px;
}

#course h3 {
    font-weight: 600;
    color: var(--primary-color);
}

.garis {
    height: 5px;
    width: 15%;
    border-radius: 50px;
    background: var(--secondary-color);
}

#course .card {
    border: none;
    border-radius: 20px;
    width: 28rem !important;
    box-shadow: 4px 8px 25px rgb(7, 104, 159, 0.1);
}

#course .card img {
    width: 50px;
}

#course .card .card-title {
    font-weight: 600;
    color: var(--primary-color);
}

#course .card .card-text {
    font-size: 14px;
    color: #b0b0b0;
}

#course .card a {
    color: var(--third-color);
    text-decoration: none;
}

#course .card a:hover {
    color: var(--fourth-color);
    text-decoration: underline;
}

/* Teamwork section */
#teamwork .container {
    margin-top: 80px;
}

#teamwork .card {
    border: none;
}

#teamwork .card h5 {
    color: var(--secondary-color);
}

#teamwork .card h2 {
    font-weight: 600;
}

#teamwork .card p {
    font-size: 14px;
    color: #b0b0b0;
}

/* Join Us Section */
#joinus .container {
    margin-top: 80px;
}

#joinus .card {
    border: var(--primary-color);
    background-color: var(--primary-color);
    width: 50rem;
    border-radius: 20px;
    box-shadow: 8px 16px 25px rgb(7, 104, 159, 0.4);
}

#joinus .card .card-title {
    color: white;
    font-weight: 600;
}

#joinus .card p {
    font-size: 14px;
    color: whitesmoke;
}

.btn-join {
    border: none;
    font-weight: 500;
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
    color: black;
    transition: all ease 0.5s;
}

.btn-join:hover {
    opacity: 90%;
}

/* Footer */
#footer {
    border-radius: 20px 20px 0px 0px;
    border-top: 1px solid #eeeeee;
    margin-top: 80px;
    box-shadow: 0px -4px 16px rgb(7, 104, 159, 0.1)
}

#footer .lab img {
    width: 75px;
}

#footer .lab h5 {
    font-weight: 600;
}

#footer .lab p {
    color: #b0b0b0;
    font-size: 14px;
}

#footer .lab i {
    color: var(--primary-color);
    font-size: 24px;
    transition: all ease 0.5s;
}

#footer .lab i:hover {
    color: var(--third-color);
}

#footer .garis-footer {
    height: 5px;
    width: 20%;
    border-radius: 50px;
    background: var(--secondary-color);
}

#footer h5 {
    font-weight: 600;
}

#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#footer a {
    font-size: 14px;
    color: var(--primary-color);
    text-decoration: none;
    transition: all ease 0.3s;
}

#footer a:hover {
    color: var(--third-color);
    text-decoration: underline;
}

#footer .courtesy {
    border-top: 1px solid #eeeeee;
}

#footer span {
    font-weight: 500;
    font-size: 12px;
}

/* News Section */
#news {
    margin-top: 120px;
}

#news h1 {
    font-weight: 600;
}

#news p {
    font-size: 18px;
}

#news .nav {
    font-size: 14px;
}

#news .nav .nav-item .nav-link {
    border-radius: 5px;
    border: 1px solid #eeeeee;
    color: grey;
}

#news .nav .nav-item .nav-link:hover {
    color: rgb(13, 110, 253);
}

#news .nav .nav-item .nav-link.active {
    border: transparent;
    color: rgb(13, 110, 253);
    background-color: rgb(13, 110, 253, 0.1);
}

#news .search {
    border: none;
    font-size: 14px;
    box-shadow: 0px 8px 16px rgb(7, 104, 159, 0.1);
}

#news .search::placeholder {
    font-size: 14px;
}

#news .card {
    border-radius: 12px;
    border-color: #eeeeee;
    transition: all ease-in-out 0.5s;
}

#news .card:hover {
    box-shadow: 4px 8px 25px rgb(7, 104, 159, 0.2);
}

#news .card .badge-berita {
    color: rgb(25, 135, 84);
    background-color: rgb(25, 135, 84, 0.1);
}

#news .card .badge-pt {
    color: rgb(13, 110, 253);
    background-color: rgb(13, 110, 253, 0.1);
}

#news .card .badge-sd {
    color: rgb(220, 53, 69);
    background-color: rgb(220, 53, 69, 0.1);
}

#news .card a {
    text-decoration: none;
}

#news .card .card-title {
    font-weight: 600;
    color: var(--primary-color);
    font-size: 20px;
    transition: all ease 0.3s;
}

#news .card .card-title:hover {
    color: var(--third-color);
}

#news .card .card-subtitle {
    font-size: 12px;
}

#news .card .card-text {
    font-size: 14px;
}

#news hr {
    color: #b0b0b0;
}

#news .card .penulis h6 {
    font-size: 16px;
}

#news .card .penulis p {
    font-size: 12px;
    color: #b0b0b0;
}

/* Responsive untuk max size tablet */
@media (max-width: 991.98px) {

    /* Navbar */
    #header .navbar .navbar-toggler {
        border: none;
        box-shadow: none;
    }

    #header .navbar .navbar-nav {
        text-align: center;
    }

    #header .navbar .navbar-nav .nav-item {
        padding: 10px;
        font-size: 17px;
    }

    #header .navbar .dropdown-menu {
        /* border-radius: 0px 0px 20px 20px; */
        border: none;
        box-shadow: 0px 8px 25px rgb(7, 104, 159, 0.1)
    }

    .btn-join-praktikum {
        margin: 10px;
        display: inline;
        width: 100%;
    }

    /* Jumbotron */
    #jumbotron .card .card-body {
        text-align: center;
    }

    #jumbotron .alert {
        font-size: 8px;
    }

    /* Teamwork */
    #teamwork .card .card-body {
        text-align: center;
    }

    /* Joinus */
    #joinus .card .card-text {
        font-size: 10px;
    }

    .btn-join {
        font-size: 12px;
    }

    /* Footer */
    #footer .garis-footer {
        width: 10%;
    }

    #footer .courtesy span,
    #footer .courtesy a {
        font-size: 8px;
    }
}

@media (max-width: 575.98px) {
    #auth .card p {
        font-size: 12px;
    }

    #news p {
        font-size: 10px;
    }

    #news .nav .nav-item .nav-link {
        font-size: 8px;
    }
}